@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
// @font-face {
// 	font-family: Calibre-Semibold;
// 	src: url("/fonts/Calibre-Semibold.otf");
// }
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* Index */
.main_container {
	width: 50%;
	margin: auto;
}

/* Banner partial */
.banner_container {
	padding: 125px 0 125px 0;
	background: url(/images/bpl.png);
	letter-spacing: .3px;
	background-position: center center;
    background-size: cover;
    box-shadow: 0px 1px 0px #666;
}
.banner_container .banner {
	color: white;
}
.banner_container .banner .author {
	// font-family: Calibre-Semibold;
	font-size: 58px;
	text-align: center;
}
.banner_container .banner .subtitle {
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* Footer partial */
.footer {
	padding: 50px 0 50px 0;
	text-align: center;
}
.footer .content {
	color: #000000;
}

/* Nav partial */
.nav {
	width: 100%;
	padding: 30px 0 30px 0;
}
.nav a {
	color: #333;
	margin: 30px 25px 30px 25px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: 400;
}
.nav a:hover {
	text-decoration: none;
	border-bottom: 2px solid #225378;
}
.nav .active {
	border-bottom: 2px solid #225378;
}
.nav a:nth-child(1) {
	margin-left: 0;
}

/* Posts partial */
.posts {
	
}
.posts .post {
	padding: 50px 0 50px 0;
    border-bottom: 1px solid #f1f1f1;
}
.posts .post .title {
	font-size: 34px;
	color: #333;
}
.posts .post .title a {
	color: #222;
}
.posts .post .date {
	color: #666;
    display: inline-block;
    margin-top: 5px;
}
.posts .post .excerpt {
	font-size: 18px;
	color: #222;
	line-height: 30px;
}
.posts .post .read_more {
	margin-top: 30px;
}
.posts .post .read_more a {
	margin: 10px 0 0 0;
	font-size: 12px;
	color: #225378;
	border: 1px solid #225378;
	padding: 5px 9px 5px 9px;
	border-radius: 3px;
	-webkit-font-smoothing: auto;
	-o-transition: color .15s ease-out, background .15s ease-in;
	-ms-transition: color .15s ease-out, background .15s ease-in;
	-moz-transition: color .15s ease-out, background .15s ease-in;
	-webkit-transition: color .15s ease-out, background .15s ease-in;
	transition: color .15s ease-out, background .15s ease-in;
}
.posts .post .read_more a:hover {
	color: #ffffff;
	background: #225378;
	text-decoration: none;
}

/* Tags Partial */
.tags {
	display: inline;
}
.tags .tag-link {
	padding: 3px 12px;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    color: #666;
    font-size: 12px;
    border: 1px solid #666;
    -webkit-font-smoothing: auto;
}
.tags .tag-link:nth-child(1) {
	margin-left: 10px;
}
.tags .tag-link:hover {
	text-decoration: none;
}