<div class="footer">
	<div class="content">&copy; 2016 Brandon Giraldo - A blog framework powered by <a href="http://hexo.io">Hexo</a> and the <a href="https://github.com/brandongiraldo/hyperlight">hyperlight theme</a>.</div>
</div>